<h1>Add an artist</h1>
<p>Add an artist here:</p>

<form action="/" method="post">
  <label for="artistName">Artist name</label>
  <input id="artistName" name="artistName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/">Back to artists.</a></p>
