<h3>Here are all the CDs in @Model["artist"].GetName():</h3>

<ol>
@foreach (var cd in @Model["CDs"])
{
  <li><a href='/@Model["artist"].GetId()/CDs/@cd.GetId()'>@cd.GetDescription()</a></li>
}
</ol>

<p><a href='/@Model["artist"].GetId()/CD/new'>Add a new CD</a></p>
<p><a href='/'>Return to artists list</a></p>
