<h1>CD Details: </h1>

<h2>@Model["CD"].GetDescription()</h2>
<h3>Category: @Model["artist"].GetName()</h3>

<a href='/artists/@Model["artist"].GetId()/CDs/new'>Add another CD</a>
<a href='/artists'>View all artists</a>
